body{
text-align:center;
}
#applab{
width:100%;
height:800px;
background-color:blue;
}
#spritelab{
width:100%;
height:800px;
background-color:red;
}
#chatbot{
width:100%;
height:800px;
background-color:greenyellow;
}